            body {
               background-color:rgb(53, 56, 57)     
            }         
            @font-face{
              font-family: 'lol';
              src: url(../../../../fonts/OpenSans-LightItalic.ttf);
    
          }
            .menu {
              min-width: 400px;
            }
         
            .menu > ul{
              justify-content:  center ;
   
            }
            .menu > ul  li {
              list-style-type:  none;             
            }
            .menu >ul li a {
            border-radius: 20px;
            list-style-type:  none;
            display : block;
            background-color:rgb(53, 56, 57);
            padding: 15px 30px 15px 40px;
            width: 150px; 
            color:white;
            font-family: lol;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2cm;
            

            }
            
            .menu   a:hover {
             background: white;
             transition: all 0.7s ease; 
             color: black;
             
             }
             .simple_text{
              font-family: 'Courier New', Courier, monospace;
              color:white;
              font-size: 20px;
              background-color:none;
              border-radius: 15px;
             
            }

            .container {
              display: flex;
              flex-direction: row;              
              margin-top: 50px;
            }
            .container h1 {
              display: flex;
              flex-direction: row;
              margin-right:100px;
              margin-top: 0px;
            }


            footer{
              margin-top: 300px;
              width:100%;
              flex-direction: column;
              border-top-left-radius: 30px;
              border-top-right-radius: 30px;
              background-color:rgb(152, 143, 143);
             
            }
            
            hr{
              border: none; 
              background-color: white;
              height: 2px;
             
            }
            footer{
              padding-bottom: 20px;
            }
           
            
            footer div{
              flex-direction: column;
              margin-top:100px; 
            }
            .new_container{
              justify-content: start;
            }
            .adapt{
              flex-direction: column;
              margin-top: 50px;
            }
            div .container .videoDescription{
              flex-direction: column;
              margin-left: 50px;

            } 

            .text {
              font-family: Tahoma, Verdana,  sans-serif;
              color: white;
              direction: rtl;
              letter-spacing: 2.5cm;
              word-spacing: 1cm;
              text-indent: 10px;
              text-decoration: none;
              text-transform: capitalize;
              white-space: pre;
              font-size: 100px;
              font-weight: bold;
              line-height: 1.5em;
              text-align: left;
              
              src: url(../../../../fonts/OpenSans-LightItalic.ttf);
          }









          